{% extends "base.html.twig" %}
{% block title %}Sébastien NOBOUR symfony 5 website{% endblock %}
{% block body %}
{# {{dump(ads)}} #}
{# {{dump(users)}} #}
<div class="container">
    <div class="jumbotron mt-3">
        <h1 class="display-3">Bienvenue sur symBNB !</h1>
        <p class="lead">Nous mettons en relation les voyageurs  et les propriétaires qui veulent profiter d'opportunités et gagner de l'argent en proposant leur bien à la location.</p>
        <hr class="my-4">
        <p>Vous êtes voyageurs et vous voulez voir où vous pourrez loger pour votre prochain déplacement?</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{{path('ads_index')}}" role="button">Voir nos annonces</a>
        </p>
    </div>

    <h2 class="h1 my-5">Nos appartements stars !</h2>
    {# TODO: 2 times row so removed one #}
    <div class="row">
        {% for data in ads %}
        {% include "ad/_ad.html.twig" with {'ad': data.annonce} %}
        {% endfor %}
    </div>
    <h2 class="h1 my-5">Nos propriétaires stars !</h2>
    <div class="row">
    {% for data in users %}
    {% set user = data.user %}
        <div class="col">
            <div class="card border-secondary mb-3">
                <div class="card-body">
                    <h4 class="card-title">{{user.fullName}}</h4>
                    
                    <hr>

                    <div class="card-text">
                        <img src="{{user.picture}}" alt="Avatar de {{user.fullName}}" class="float-left mr-3">
                        <p>{{user.introduction}}</p>
                         <a href="{{path('user_show', {'slug': user.slug})}}" class="btn btn-secondary float-right">En savoir plus !</a>
                    </div>
                </div>
            </div>
        </div>

    {% endfor %}
    </div>
</div>
{% endblock %}
