<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Mon application Smfony 5 Rbnb</title>    
            
                   
</head>
<body>
    <h1>{{title | upper}}</h1>
    <h2>Le vrai titre est "{{title}}"</h1></h2>
    <p> Comment allez-vous?</p> 
    <ul>
        <li><a href="/hello">Allez voir hello mais le nom a changé mince..!</a></li>
        <li><a href=" {{ path('hello_base') }} ">essaye plutot ça. on utilise le nom de la route... pas son adresse</a></li>
        <li><a href=" {{ path('hello_name_age', {'prenom': 'Seb','age': 25 }) }} ">Essaye le lien vers Seb et son age</a></li>
    </ul>
    



    {% if age >=18 %}
        <p>Vous êtes un adulte.</p>
    {% elseif age >=12 %}
        <p>Vous êtes un adolescent.</p>
    {% else %}
        <p>Vous êtes mineur.</p>
    {% endif %}

    {# comment in twig #}
    {# <ul>
        {% for compteur in 0..10 %}
            <li>{{compteur}}</li>
        {% endfor %}
    </ul> #}



    {% for prenom, age in tableau %}
        {% if loop.first %}
            <strong>{{prenom}} a {{age}} ans</strong>
        {% elseif loop.last %}
            <em>(iteration #{{loop.index0}}) {{prenom}} a {{age}} ans</em>
        {% else %}
            <p>(iteration #{{loop.index0}}) {{prenom}} a {{age}} ans</p>
        {% endif %}
    {% endfor %}
</body>
</html>