{% extends "base.html.twig" %}
{% block title %}Je ne veux pas dire Welcome mais SALUT TOUT LE MONDE{% endblock %}
{% block body %}
<div class="container">
    <div class="jumbotron mt-3">
        <h1 class="display-3">Bienvenue sur symBNB !</h1>
        <p class="lead">Nous mettons en relation les voyageurs  et les propriétaires qui veulent profiter d'opportunités et gagner de l'argent en proposant leur bien à la location.</p>
        <hr class="my-4">
        <p>Vous êtes voyageurs et vous voulez voir où vous pourrez loger pour votre prochain déplacement?</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Voir nos annonces</a>
        </p>
    </div>

    <h2>Nos appartements stars</h2>
    <div class="row">
        <div class="row">
        {% for ad in ads %}
        <div class="col-md-4">
            <div class="card bg-light mb-3">
                <div class="card-header text-center">
                    {{ad.rooms}} chambres, <strong>{{ad.price}} /nuit</strong> <br>
                    <small>Pas encore noté</small>
                </div>

                <img src="{{ad.coverImage}}" alt="Image de l'appartement" style="height: 200px; width: 100%; display: block;">
                
                <div class="card-body">
                    <h4 class="card-title">
                        {{ad.title}}
                    </h4>
                    <p class="card-text">
                        {{ad.introduction}}
                    </p>
                    <a href="#" class="btn btn-secondary">En savoir plus !</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    </div>
</div>
{% endblock %}
