{% extends "base.html.twig" %}
{% block title %}Creation d'une annonce{% endblock %}

{% form_theme form _self %}

{% block body %}
    <div class="container">
        <h1 class="my-5">Créer une nouvelle annonce</h1>

        {{form_start(form)}}
        <div class="form">
            <div class="col">
                <div class="alert alert-light">
                    <h2>Informations générales</h2>
                    <hr>
                    {{form_row(form.title)}}
                    {{form_row(form.slug)}}
                    {{form_row(form.price)}}
                    {{form_row(form.rooms)}}
                </div>
                <div class="alert alert-light">
                    <h2>Détails de l'annonce</h2>
                    <hr>
                    {{form_row(form.introduction)}}
                    {{form_row(form.content)}}
                </div>
            </div>
            <div class="col">
                <div class="alert alert-light">
                    <h2>Images de l'annonce</h2>
                    <hr>
                    {{form_row(form.coverImage)}}
                    {{form_row(form.images)}}
                </div>
            </div>
        </div>

        <div class="alert alert-success clearfix">
        <h2 class="alert-heading">Sauvegarder mon annonce</h2>
            <p>Vous êtes sur le point de créer votre annonce, beau travail !</p>
            <button type="submit" class="btn btn-light float-right">
                <i class="fas fa-check mr-2"></i>
                Créer la nouvelle annonce
            </button>
        </div>
        
         {{form_end(form)}}
    
    </div>
{% endblock %}

{% block _ad_images_widget %}
    <p>Ici, vous pouvez ajouter vos propres images !</p>

    {{ form_widget(form) }}
    <input type="hidden" id="widgets-counter" value="0">

    <div class="form-group">
        {# button[type=button]#add-image.btn.btn-primary #}
        <button type="button" id="add-image" class="btn btn-primary">
          <i class="fas fa-check mr-2"></i>
          Ajouter une image
        </button>
    </div>
{% endblock %}

{% block _ad_images_entry_row %}
    {{form_widget(form)}}
{% endblock %}



{% block _ad_images_entry_widget %}
<div class="form-group" id="block_{{id}}">
    <div class="row">
        <div class="col-10">
            <div class="row">
                <div class="col">
                    {{form_widget(form.url)}}
                </div>
                <div class="col">
                    {{form_widget(form.caption)}}
                </div>
            </div>
        </div>
        <div class="col-2">
            <button type="button" data-action = "delete" data-target = "#block_{{id}}" class="btn btn-danger">X</button>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script src="/js/ad.js"></script>
{% endblock %}