{% extends "base.html.twig" %}

{% block title %}
{{ad.title}}
{% endblock %}
{% block body %}
 <div class="ad-title" style="background-image:url({{ad.coverImage}})">
    <div class="container">
        <h1>{{ad.title}}</h1>
        <p>{{ad.introduction}}</p>
        <p class="h2"><strong>{{ad.rooms}} chambres</strong> pour <strong>{{ad.price}}&euro;</strong> par nuit</p>

        <a href="#" class="btn btn-primary">Réserver !</a>
    </div>
 </div>

<div class="container">
    <div class="row">
        <div class="col-md-8 mb-3">
            {{ad.content | raw}}
        </div>
        <div class="col">
            <div class="row">
                <div class="col-4">
                    <img src="http:placehold.it/64x64" alt="Avatar de Joseph">
                </div>
                <div class="col">
                    <h3>Joseph Dupont</h3>
                    <span class="badge badge-primary">3 annonces</span>
                </div>
            </div>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum accusamus adipisci modi aspernatur placeat rerum totam eligendi sunt ipsum sit?</p>
            <p>Ad temporibus accusantium mollitia itaque, doloribus rerum maiores sint error reiciendis ipsam architecto quia placeat sunt laboriosam tenetur vitae ea?</p>
            <p>Consequuntur laboriosam quae nam numquam rem! Necessitatibus ipsa saepe sit magnam, eaque dolores cupiditate non? Esse cumque nemo minima. Reprehenderit.</p>
        </div>
    </div>
</div>

{% endblock %}